@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    background: #fafafa;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #999;
    font-size: 1.1em;
    line-height: 1.7em;
    font-weight: 300; 
    
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #c2751e;
   
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
}
.wrapper > div {
    margin: 10px;
    line-height: 30px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #c47d14;
    color: #fff;
    transition: all 0.8s;
}

#sidebar.activenav_item {
    margin-left: -250px;
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-70%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.activenav_item {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #bd8b2f;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #d3963b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
    
}

#sidebar ul li.activenav_item > a, a[aria-expanded="true"] {
    color: #fff;
    background: #ce8526;
    
}


/* dasbord */
.container-das{
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    
}
.row-item{
    width: 100%;
    height: 100%;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

/* ladd product     */
.container{
    width: 100%;
    
}
.container .header{
    padding-top: 230px;
    padding-left: 20px;
}
.container.rowmain{
    width: 100%;
    padding-bottom: 10px;
}

.needs-validation{
    width: 60%;
    background-color: whitesmoke;
    
}
.form-row{
    width: 110%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

/* edit category */
.container-edit{
    width: 100%;
    
}
.header_edit{
    padding-top: 220px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.container-edit.row-edit{
    width: 100%;  
}
.row{
    width: 100%;
    background-color: whitesmoke;
}

table,th,td{
    border: 1.5px solid black;
   border-collapse: collapse;
    
}
td, a{
text-decoration: none;
padding-left: 5px;
text-align: center;
}

/* -----------------------------------Uppdate category---------------------------- */
.container-upCa{
    width: 100%;
}
.header-up{
    padding-top: 220px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.row-up{
    width: 100%; 
}
.needs-validation{
    width: 80%;
    background-color: whitesmoke;

}
/* ----------------------------------Management Product */
/* ----------------------Add Pro---------------------- */
.container .header-addpro{
    padding-top: 50px;
    padding-left: 180px;
}
.container.row-addpro{
    width: 80%;
    padding-bottom: 5px;
   
}
.rowpro{
    width: 80vh;
    padding-left: 20vh;
    
}
.need-validation{
    background-color: whitesmoke;
    width: 80vh;
}

/* ----------------------edit pro---------------------- */
.container-edit-pro{
    width: 100%;
    
}
.header_edit-pro{
    padding-top: 120px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.container-edit-pro.row-edit-pro{
    width: 100%;  
}
.row-pro{
    width: 100%;
    background-color: whitesmoke;
}

table,th,td{
    border: 1.5px solid black;
   border-collapse: collapse;
    
}
td, a{
text-decoration: none;
padding-left: 5px;
text-align: center;
}
#scroll{
    border:3px solid black;
    height:500px;
    overflow-x:hidden;
    overflow-y:auto;
    width:109vh;
}
/* -------------------------------Update Product------------ */
.container-uppro{
    width: 100%;
}
.header-uppro{
    padding-top: 90px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.row-uppro{
    width: 100%; 
}
.roww{
    padding-bottom: 1000px;
}
.form-roww{
    width: 110%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

